extends layouts/main.pug 
include mixins/videoBlock

block content 
    .videos
        //- videoList : 객체 배열
        //- video : 객체 
        //- // forEach랑 비슷한듯?
        each video in videoList
            //- h4= video.title
            //- p= video.description
            +videoBlock({
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                id:video.id
            })